body,
html,
#root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dashboard-tab-container .MuiTabs-list {
  justify-content: space-between;
}