name: Deploy Backend to EC2

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "backend/**"

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Checkout backend only
        uses: actions/checkout@v4
        with:
          sparse-checkout: backend
          sparse-checkout-cone-mode: false
          fetch-depth: 1

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_SSH_KEY }}" > ~/.ssh/ec2.pem
          chmod 600 ~/.ssh/ec2.pem
          ssh-keyscan -H ${{ secrets.EC2_HOST }} >> ~/.ssh/known_hosts

      - name: Deploy to EC2
        run: |
          ssh -i ~/.ssh/ec2.pem \
          -o StrictHostKeyChecking=no \
          ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} << 'EOF'
          
            set -e
            export NODE_ENV=production

            APP_DIR=~/ecommerce-user-analytics
            APP_NAME=ecommerce-api

            # Clone once
            if [ ! -d "$APP_DIR/.git" ]; then
              git clone https://github.com/${{ github.repository }}.git $APP_DIR
            fi

            cd $APP_DIR

            # Clean & fast update
            git fetch origin main
            git reset --hard origin/main

            cd backend

            # Install dependencies (faster + deterministic)
            if [ -f package-lock.json ]; then
              npm ci
            else
              npm install
            fi

            # Build
            npm run build

            # Start or reload PM2 safely
            pm2 startOrReload dist/index.js \
              --name $APP_NAME \
              --update-env || \
            pm2 start dist/index.js --name $APP_NAME

            pm2 save
          EOF
